*.iml
.gradle
.claude
.idea
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Kotlin compiler error cache
.kotlin/errors
.kotlin/sessions

#buil script
.last_successful_commit
build_output.txt
.last_successful_state
.last_successful_files